{% extends 'campus_master/base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Campus-Master</h1>
    <p class="lead">
        Система для работы кампус-мастера.
    </p>

    <a class="btn btn-primary center" target="_blank" href="http://t.me/master_9_bot" role="button">
        Бот
    </a>
    <a class="btn btn-primary center" target="_blank" href="http://telegra.ph/10-shagov-k-garmonii-v-9-korpuse-kampusa-12-13" role="button">
        Как пользоваться?
    </a>
</div>
{% endblock %}