{% extends 'campus_master/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Комната</th>
                    <th scope="col">Жалоба</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <th scope="row">{{ item.chat.room }}</th>
                        <td>{{ item.text }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{% url 'export_complaints_xls' %}" role="button">Скачать</a>
    {% endif %}
{% endblock %}
